{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}

<div class="container">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <center>
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4" style="font-family: 'Lobster', cursive;">Submit New Password To
                        Reset
                    </legend>
                </fieldset>
            </center>
            {{ form|crispy }}
            <div class="form-group">
                <button class="btn btn-outline-info btn-lg btn-block" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>

{% endblock body %}